# Copyright 2018 The Kubernetes Authors.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[defaults]
remote_tmp = /tmp/.ansible
display_skipped_hosts = False
inject_facts_as_vars = False
pipelining = True
timeout = 60
# Drop concurrency to 1 to prevent overloading Packer's local loopback proxy
forks = 5

[ssh_connection]
# 1. Re-enable pipelining to stream execution data smoothly
pipelining = True

# 2. Configure a persistent master connection tunnel 
# This keeps the initial SSH channel open for 30 minutes so loops reuse it
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100

# 3. Shorten the control path socket string to prevent GitHub Action character limit truncations
control_path = %(directory)s/ans-%%h-%%p-%%r